doctype html
html(ng-app='MEAN')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
script(src='/bower_components/angular/angular.js')
script(src='/bower_components/angular-route/angular-route.js')
script(src='/bower_components/oclazyload/dist/ocLazyLoad.js')
script(src='/javascripts/main.js')
